{% load custom_tags %}
{% load static %}
<nav class="fixed top-0 w-full z-50">
    <nav class="bg-white border-gray-200 dark:bg-gray-900">
        <div class="flex flex-wrap justify-between items-center max-w-screen-xl p-4">
            <a class="" href={% url 'base:index' %}>
                {{'fill-current hover:text-pyrl-active ease-in-out duration-300 dark:text-white text-dark'|get_pyrl_logo}}
            </a>
        </div>
    </nav>
    <nav class="bg-gray-100 dark:bg-gray-700">
        <div class="max-w-screen-xl px-4 py-3 mx-auto">
            <div class="flex items-center">
                <ul class="flex flex-row font-medium mt-0 space-x-8 rtl:space-x-reverse text-sm">
                    <li>
                        <a href={% url 'base:index' %} class="text-gray-900 dark:text-white hover:underline">Home</a>
                    </li>
                    <li>
                        <a href={% url 'base:about' %} class="text-gray-900 dark:text-white hover:underline">About</a>
                    </li>
                    <li>
                        <a href={% url 'base:pricing' %} class="text-gray-900 dark:text-white hover:underline">Pricing</a>
                    </li>
                    <li>
                        <a href={% url 'base:contact' %} class="text-gray-900 dark:text-white hover:underline">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</nav>