{% load tailwind_tags %}
{% tailwind_css  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}{{ 'NAME'|get_setting }}</title>
</head>
<body>
    <a class="mr-2 ml-2" href={% url 'base:index' %}>
        {{'fill-current hover:text-gray-500 ease-in-out duration-300 dark:text-white text-dark'|get_pyrl_logo}}
    </a>
</body>