{% extends "main_app/base.html" %}
{% load static %}
{% block title %}{{ page_title }}{% endblock %}
{% load custom_tags %}

{% block main_app_content %}
<h1 class="text-5xl font-bold text-center mb-6">Create invoice</h1>
<table class="table-auto w-full" id="invoice_table">
    <thead>
      <tr class="bg-gray-500">
        <th>#</th>
        <th>Product</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Rate</th>
      </tr>
    </thead>
    <tbody class="bg-white" id='tbody'>
        <tr class="text-center">
            <td colspan="5"><button id='insert_row'>+</button></td>
        </tr>
        <tr class="text-center">
          <td colspan="5">
            <div class="w-full flex md:flex-row flex-col p-3 justify-between">
              <div class="md:w-1/3 w-full">
                <a href="{% url 'main_app:invoicing:index' %}">
                  <button class="w-full p-3 bg-gray-300 rounded-lg border-1 border-gray-400 hover:bg-gray-400 focus:bg-gray-500 transition ease-in-out duration-500">
                    Cancel
                  </button>
                </a>
              </div>
              <div class="md:w-1/3 w-full">
                <button action='submit' class="w-full p-3 bg-gray-300 rounded-lg border-1 border-gray-400 hover:bg-gray-400 focus:bg-gray-500 transition ease-in-out duration-500">Submit</button>
              </div>
            </div>
          </td>
        </tr>
    </tbody>
  </table>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/fun.js' %}"></script>
<script src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript">
  function add_row(table_id, safeHtml) {
      var tbodyRef = document.getElementById('invoice_table').getElementsByTagName('tbody')[0];
      console.log(tbodyRef);
      var insertingHtml = `<td><p class="p-2 text-center font-semibold">${tbodyRef.rows.length - 1}</p></td>`;
      var index = tbodyRef.rows.length - 2;
      var newRow = tbodyRef.insertRow(index);
      newRow.setAttribute("id", `fragment_id_${index + 2}`);
      insertingHtml = insertingHtml + safeHtml
      console.log(insertingHtml);
      newRow.innerHTML = insertingHtml;
      console.log(newRow.innerHTML);
  }
</script>
<script>
  function get_table_length(table_id) {
    var tbodyRef = document.getElementById('invoice_table').getElementsByTagName('tbody')[0];
    return tbodyRef.rows.length;
  }
</script>
<script>
  var tbodyRef = document.getElementById('invoice_table').getElementsByTagName('tbody')[0];
  $(document).on('click', '#insert_row', function (e) {
      e.preventDefault();
      $.ajax({
          type: 'GET',
          url: "{% url 'main_app:invoicing:get_row' fragment_id='1' %}",
          headers: {'X-CSRFToken': $('input[name=csrfmiddlewaretoken]').val()},
          mode: 'same-origin', // Do not send CSRF token to another domain.
          success: function (data) {
              console.log(data);
              add_row('#insert_row', data);
          }
      })
  });
</script>
{% endblock %}

