{% extends "main_app/base.html" %}
{% block title %}{{ page_title }}{% endblock %}
{% load custom_tags %}
{% load static %}
{% block content %}
<h1 class="text-5xl font-bold pb-2">Invoices</h1>
<table class="table-auto w-full">
    <thead>
      <tr class="bg-gray-500">
        <th>ID</th>
        <th>Description</th>
        <th>Due</th>
        <th>Total</th>
        <th>Paid</th>
      </tr>
    </thead>
    <tbody class="bg-white">
        {% for invoice in total_invoices%}
        <tr class="text-center">
            <td>{{ invoice.uuid }}</td>
            <td>{{ invoice.description }}</td>
            <td>{{ invoice.due_date }}</td>
            <td>{{ invoice.total }}</td>
            <td>{{ invoice.paid }}</td>
        </tr>
        {% endfor %}
        <tr class="text-center">
            <td colspan="5"><a href="{% url 'main_app:invoicing:create' %}">+</a></td>
        </tr>
    </tbody>
  </table>
{% endblock %}
{% block scripts %}
<script src={% static 'js/jquery.js' %}></script>
{% endblock %}
