{% extends "core/base.html" %}
{%  load static %}
{% block title %}Profile{% endblock %}
{% block content %}
    <div class=h-svh>
        
        <div class="h-1/3 p-3">
            <div class="h-1/2 border-b-2 border-gray-300 text-center justify-content-center my-auto">
                <img class="border-2 border-gray-300 absolute flex inset-x-9 justify-center items-center z-10 rounded-full" src={% static "CHARLIE.png" %} style="max-height:25svh;"> 
                <p>Full name - Usernames</p>
            </div>
            
        </div>
    </div>

    
{% endblock %}