{% extends "demo/app/base.html" %}
{% block title %}Demo{% endblock %}
{% block main_app_content %}
{% load custom_tags %}
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 mb-4">
    <div
      class="grid grid-cols-3 grid-rows-3 place-content-center border-2 border-dashed border-gray-300 rounded-lg dark:border-gray-600 h-32 md:h-64"
    >{{'col-start-2 col-end-3 row-start-2 row-end-3, fill-current hover:text-gray-500 cursor-pointer ease-in-out duration-300 dark:text-gray-600 text-gray-300'|get_plus}}</div>
  </div>
<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        var x = document.getElementById('defaultModalButton').click();
        console.log(x);
    });
</script>
{% endblock %}
