{% extends "core/base.html" %}
{% block title %}Privacy policy{% endblock %}
{% block content %}
<div class="p-3 text-xl">
    <h1 class="text-3xl text-center">PYRL Privacy policy</h1>
    <h2>Our contact email: </h2>
    <ul>
        <li>
            <p>privacy@PYRL.co.uk</p>
        </li>
    </ul>
    <p>The type of personal information we collect</p>
    <p>We currently collect and process the following information:</p>
    <p>Personal identifiers, contacts and characteristics (for example, name and contact details)</p>
</div>
    
    
{% endblock %}