{% extends "main_app/base.html" %}
{% block title %}{{ page_title }}{% endblock %}
{% block content %}
{% load custom_tags %}
{% load static %}
<div class="grid grid-cols-1 gap-4 mb-4">
  {% for product in products %}
    <div class="w-full bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700" id="product-card-{{product.pid}}">
        <ul class="text-sm font-medium text-center text-gray-500 divide-x divide-gray-200 rounded-lg sm:flex dark:divide-gray-600 dark:text-gray-400 rtl:divide-x-reverse" id="fullWidthTab">
            <h1 OnClick="display_product_form({{product.pid}})" class="inline-block w-full p-4 bg-gray-50 hover:bg-gray-300 hover:text-gray-900 dark:hover:text-gray-200 focus:outline-none dark:bg-gray-700 dark:hover:bg-gray-600 cursor-pointer">{{product.name}}</h1>
        </ul>
        <div id="contents-{{product.pid}}">
        </div>

    </div>
  {% endfor %}
    {% include 'fragments/products/new_product_button.html' %}
</div>

<script src="{% static 'js/jquery.js' %}"></script>

<script src="{% static 'js/display_by_id.js' %}"></script>

<script>
    function display_product_form(product_id) {
        if (document.getElementById(`bottom-contents-${product_id}`)) {
            //toggle_display_card(product_id);
            display_by_id(`bottom-contents-${product_id}`, 'hidden');
        } else {
            $.ajax({
                type: 'GET',
                url: `{% url 'main_app:products:product_info'%}`,
                headers: {'X-CSRFToken': $('input[name=csrfmiddlewaretoken]').val()},
                mode: 'same-origin', // Do not send CSRF token to another domain.
                data: {
                    product_id: product_id,
                },
                success: function (data) {
                    $(`#contents-${product_id}`).html(data);
                }
            })
        }
    }
</script>
<script>
    function delete_product(product_id) {
        console.log(product_id);
        if (document.getElementById(`bottom-contents-${product_id}`)) {
            $.ajax({
                type: 'POST',
                headers: {'X-CSRFToken': $('input[name=csrfmiddlewaretoken]').val()},
                url: "{% url 'main_app:products:delete' %}",
                mode: 'same-origin', // Do not send CSRF token to another domain.
                data: {
                    product_id: product_id,
                    action: 'post'
                },
            })
        }
        var element = document.getElementById(`product-card-${product_id}`);
        console.log(`product-card-${product_id}`);
        element.remove();
    }
</script>
<script>
    function edit_product(product_id) {
        $.ajax({
            type: 'POST',
            headers: {'X-CSRFToken': $('input[name=csrfmiddlewaretoken]').val()},
            url: "{% url 'main_app:products:edit' %}",
            mode: 'same-origin', // Do not send CSRF token to another domain.
            data: {
                product_id: product_id,
                name: $(`#name-${product_id}`).val(),
                description: $(`#description-${product_id}`).val(),
                price: $(`#price-${product_id}`).val(),
                category: $(`#category-${product_id}`).val(),
                action: 'post'
            },
        })
        display_product_form(product_id);
    }
</script>
<script>
    function save_product(product_id) {
        var form = document.getElementById(`product-form-${product_id}`);
        console.log(form);
        $.ajax({
            type: 'POST',
            headers: {'X-CSRFToken': $('input[name=csrfmiddlewaretoken]').val()},
            url: "{% url 'main_app:products:create' %}",
            mode: 'same-origin', // Do not send CSRF token to another domain.
            data: {
                product_name: $(`#name-${product_id}`).val(),
                product_description: $(`#description-${product_id}`).val(),
                product_price: $(`#price-${product_id}`).val(),
                product_category: $(`#category-${product_id}`).val(),
                action: 'post'
            },
        })
        window.location.reload();
    }
</script>
<script>
  function toggle_display_card(product_id) {
      console.log(product_id);
      // Declare all variables
      var i, tabcontent, tablinks;
    
      // Get all elements with class="tabcontent" and hide them
      tabcontent = document.getElementsByClassName(`${product_id}-tabcontent`);
      console.log(tabcontent);
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].classList.add('hidden');
      }
    
      // Show the current tab, and add an "active" class to the button that opened the tab
      //display_by_id(cityName, 'hidden');
      
    }
</script>
{% endblock %}
