{% extends "main_app/base.html" %}
{% block title %}{{ page_title }}{% endblock %}
{% block main_app_content %}
{% load custom_tags %}
{% load static %}
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 mb-4">
{% for product in products %}
  <div
      class="border-2 border-dashed border-gray-300 rounded-lg dark:border-gray-600 h-32 md:h-64"
  >
    {% comment %} <img src="{{product.product_image.url}}" alt="product image"/> {% endcomment %}
    <p>Product name: {{product.product_name}}</p>
    <p>Product description: {{product.product_description}}</p>
    <p>Product price: {{product.product_price}}</p>
    <p>Product category: {{product.product_category}}</p>
  </div>
{% endfor %}
  <div
      class="grid grid-cols-3 grid-rows-3 place-content-center border-2 border-dashed border-gray-300 rounded-lg dark:border-gray-600 h-32 md:h-64" id="new-product"
    >{{'col-start-2 col-end-3 row-start-2 row-end-3, fill-current hover:text-gray-500 cursor-pointer ease-in-out duration-300 dark:text-gray-600 text-gray-300'|get_plus}}
  </div>
</div>

<div id="list_contents">
</div>

<script src={% static 'js/jquery.js' %}></script>

<script type="text/javascript">
  $(document).on('click', '#new-product', function (e) {
      console.log("CLICK");
      e.preventDefault();
      $.ajax({
          type: 'GET',
          url: "{% url 'main_app:products:test' %}",
          headers: {'X-CSRFToken': $('input[name=csrfmiddlewaretoken]').val()},
          mode: 'same-origin', // Do not send CSRF token to another domain.
          data: {
              first_name: "123",
          },
          success: function (data) {
              $("#list_contents").html(data)
          }
      })
  });
</script>
{% endblock %}
