{% extends "base/home/base.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
{% comment %} <div class="w-full h-screen flex flex-col items-center justify-center"> {% endcomment %}
<div class="w-full h-svh min-w-[400px]">
    <div class="md:w-1/2 sm:w-full h-[100%] bg-white pt-10 pb-10 shadow-2xl">
        <div class="bg-sky-200 ml-10 mr-10 h-[100%] p-10 rounded-md shadow-xl">
            <h1 class="text-xl md:text-3xl text-center border-b border-sky-300 pb-2 font-bold">Hello World</h1>
            <p>WOOO</p>
            <p>WOOO</p>
            <p>WOOO</p>
            <p>WOOO</p>
            <p>WOOO</p>
            <p>WOOO</p>
        </div>
        {% comment %} <img src="{% static "img/20230623_014051.jpg" %}"/> {% endcomment %}
    </div>
    
</div>
{% endblock %}