{% extends "core/base.html" %}

{% load static %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <div>
        <div class="h-svh px-0 py-0">
            <div class="py-9 px-24">
                <div class="justify-items-center relative z-0 group">
                    <img class="group-hover:blur-md transition duration-500 ease-in-out"src="{% static 'Pyrlfooter-light.png' %}">
                        <div class="mt-0 absolute inset-0 text-center text-gray-500 justify-center z-10 group-hover:opacity-100 opacity-0 transition ease-in-out duration-300">
                            <h1>PYRL</h1>
                            <p>Welcome to PYRL, a new innovative startup.</p>
                            <p>Follow the link below to sign up for your free account.</p>
                        </div>
                        <a href="{% url "accounts:signup" %}" class="select-none focus:text-white mx-auto opacity-0 group-hover:opacity-100 hover:text-white mt-auto absolute inset-0 flex justify-center items-center z-10  h-1/3 w-1/5 bg-gray-200 py-3 px-3 inline-block text-center font-medium shadow-md transition duration-150 ease-in-out hover:shadow-xl focus:shadow-md focus:outline-none focus:ring-0 active:shadow-inner active:bg-gray-500 hover:bg-gray-400 my-3 text-gray-500">
                            Sign up
                        </a>
                </div>
            </div>
            <div class="grid grid-cols-6">
                <div class="col-start-1 col-end-3">
                    <div class="px-3 py-3 text-center">
                        <h1 class="font-bold text-4xl">Handle bills</h1>
                        <div class="py-3 text-xl px-12">
                            <p>Automatic bill payment, simplifying your outgoings at the touch of a button.</p>
                        </div>
                    </div>
                </div>
                <div class="col-start-3 col-end-5">
                    <div class="px-3 py-3 text-center">
                        <h1 class="font-bold text-4xl">Monitor transactions</h1>
                        <div class="py-3 text-xl px-12">
                            <p>Live updates. Transparent expenditure tracking at your fingertips.</p>
                        </div>
                    </div>
                </div>
                <div class="col-start-5 col-end-7">
                    <div class="px-3 py-3 text-center">
                        <h1 class="font-bold text-4xl">Track accounts</h1>
                        <div class="py-3 text-xl px-12">
                            <p>With PYRL's dynamic and informative account management system, track your accounts across a range of banks with ease.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="min-h-4 h-svh px-3 py-3 text-center border-t border-gray-300">
            <h1 class="text-4xl font-bold pb-2">Enquire about our services</h1>
            <p>Join a growing community of sole  traders, with support and a reasonable pricing structure.</p>
            <p>Tailored to your business.</p>
            <a href="{% url "wonka:form_test" %}">TEST FORM LINK</a>
            <a href="{% url "pricing:index" %}">Pricing test</a>
            <div class="min-w-3/4svw h-3/4svh mt-3 min-h-1/2svh">
                <img class="overflow-hidden" src="{% static "camera.png" %}">
            </div>
        </div>
    </div>
{% endblock %}

