{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
            content="width=device-width, initial-scale=1.0">
        <title>Invoice - PDF Renderer</title>
        {% tailwind_css %}
    </head>
    <body class="bg-zinc-800 flex justify-center min-h-mvh py-12">
        <div class="flex flex-col">
            {% for page in first_page %}
                <div class="content bg-white min-w-[210mm] max-w-[210mm] min-h-[297mm] max-h-[297mm] mb-12" size="A4">
                    <div class="min-h-full min-w-full flex flex-col p-20 pb-0">
                        <div class="flex flex-row justify-between pb-2">
                            <div id="logo" class="max-w-[50mm] max-h-[50mm]">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Test-Logo.svg/1175px-Test-Logo.svg.png?20150906031702"/>
                            </div>
                            <div class="min-h-full flex items-center">
                                <div>
                                    <h1 class="text-3xl text-right">Invoice</h1>
                                    <p><b>ID:</b> {{ invoice_id }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-row justify-between pb-2">
                            <div class="flex flex-col pb-2">
                                <div class="leading-tight pb-8">
                                    <p class="text-md"><b>{{ from_entity.name }}</b><p>
                                    <p class="text-sm">{{ from_entity.address.line_1 }}</p>
                                    <p class="text-sm">{{ from_entity.address.line_2 }}</p>
                                </div>
                                <p class="pb-1">Bill to:</p>
                                <div class="leading-tight">
                                    <p class="text-md"><b>{{ to_entity.name }}</b><p>
                                    <p class="text-sm">{{ to_entity.address.line_1 }}</p>
                                    <p class="text-sm">{{ to_entity.address.line_2 }}</p>
                                </div>
                            </div>
                            <div class="flex flex-col justify-between pb-2">
                                <div class="text-center">
                                    <p><b>Balance due:</b></p>
                                    <p>{{ current_invoice.currency }}{{ current_invoice.table.table_total }}</p>
                                </div>
                                <div class="grid grid-cols-1 grid-rows-2 gap-1">
                                    <div class="grid grid-cols-2 grid-rows-1 gap-2 mb-2">
                                        <p class="text-right">Invoice date:</p>
                                        <p>{{ current_invoice.invoice_date }}</p>
                                    </div>
                                    <div>
                                        <div class="grid grid-cols-2 grid-rows-1 gap-2">
                                            <p class="text-right">Terms:</p>
                                            <p>{{ current_invoice.terms }}</p>
                                        </div>
                                        <div class="grid grid-cols-2 grid-rows-1 gap-2">
                                            <p class="text-right">Due date:</p>
                                            <p>{{ current_invoice.invoice_due_date }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="min-w-full">
                            <table class="table-auto min-w-full">
                                <thead class="bg-red-500">
                                    <tr>
                                        <th class="px-4 py-2">#</th>
                                        <th class="px-8 py-2">Description</th>
                                        <th class="px-4 py-2">Qty</th>
                                        <th class="px-4 py-2">Rate</th>
                                        <th class="px-4 py-2">Amount</th>
                                    </tr>
                                </thead>
                                <tbody class="bg-white border-b-3 border-red-100 text-sm">
                                    {% for row in page.table %}
                                        <tr class="border-b border-gray-400">
                                            <td class="text-center">{{ row.invoice_number }}</td>
                                            <td>
                                                <div class="flex flex-col">
                                                    <p>{{ row.label }}</p>
                                                    <p class="text-xs text-gray-500">{{ row.description }}</p>
                                                </div>
                                            </td>
                                            <td>{{ row.quantity }}</td>
                                            <td class="text-center">{{ row.rate }}</td>
                                            <td class="text-center">{{ row.total }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% if will_fit %}
                {% for page in last_page %}
                <div class="content bg-white min-w-[210mm] max-w-[210mm] min-h-[297mm] max-h-[297mm] mb-12" size="A4">
                    <div class="min-h-full min-w-full flex flex-col p-20 pb-0">
                        <div class="flex flex-row justify-between pb-2">
                            <div id="logo" class="max-w-[50mm] max-h-[50mm]">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Test-Logo.svg/1175px-Test-Logo.svg.png?20150906031702"/>
                            </div>
                            <div class="min-h-full flex items-center">
                                <div>
                                    <h1 class="text-3xl text-right">Invoice</h1>
                                    <p><b>ID:</b> {{ invoice_id }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="min-w-full">
                            <table class="table-auto min-w-full">
                                <thead class="bg-red-500">
                                    <tr>
                                        <th class="px-4 py-2">#</th>
                                        <th class="px-8 py-2">Description</th>
                                        <th class="px-4 py-2">Qty</th>
                                        <th class="px-4 py-2">Rate</th>
                                        <th class="px-4 py-2">Amount</th>
                                    </tr>
                                </thead>
                                <tbody class="bg-white border-b-3 border-red-100 text-sm">
                                    {% for row in page.table %}
                                        <tr class="border-b border-gray-400">
                                            <td class="text-center">{{ row.invoice_number }}</td>
                                            <td>
                                                <div class="flex flex-col">
                                                    <p>{{ row.label }}</p>
                                                    <p class="text-xs text-gray-500">{{ row.description }}</p>
                                                </div>
                                            </td>
                                            <td>{{ row.quantity }}</td>
                                            <td class="text-center">{{ row.rate }}</td>
                                            <td class="text-center">{{ row.total }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <p>Subtotal: {{current_invoice.table.subtotal}}</p>
                        </div>
                        <div class="flex flex-col">
                            <div class="flex flex-row justify-between">
                                <div>
                                </div>
                                <div>
                                    <p>Discount ({{current_invoice.table.discount}}): {{current_invoice.table.discount_total}}</p>
                                    <p></p>
                                    <p>Sales Tax ({{current_invoice.table.sales_tax}}): {{current_invoice.table.sales_tax_total}}</p>
                                    <p></p>
                                    <p>Total: {{current_invoice.currency}}{{current_invoice.table.table_total}}</p>
                                </div>
                            </div>
                            <div>
                                <p>Notes:</p>
                                <p>{{ current_invoice.notes }}</p>
                                <P>Terms and Conditions:</p>
                                <p>{{ current_invoice.terms_conditions }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                {% for page in last_page %}    
                    <div class="content bg-white min-w-[210mm] max-w-[210mm] min-h-[297mm] max-h-[297mm] mb-12" size="A4">
                        <div class="min-h-full min-w-full flex flex-col p-20 pb-0">
                            <div class="flex flex-row justify-between pb-2">
                                <div id="logo" class="max-w-[50mm] max-h-[50mm]">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Test-Logo.svg/1175px-Test-Logo.svg.png?20150906031702"/>
                                </div>
                                <div class="min-h-full flex items-center">
                                    <div>
                                        <h1 class="text-3xl text-right">Invoice</h1>
                                        <p><b>ID:</b> {{ invoice_id }}</p>
                                    </div>
                                </div>
                            </div>
                            <p>Subtotal: {{current_invoice.table.subtotal}}</p>
                            <div class="flex flex-col">
                                <div class="flex flex-row justify-between">
                                    <div>
                                    </div>
                                    <div>
                                        <p>Discount ({{current_invoice.table.discount}}): {{current_invoice.table.discount_total}}</p>
                                        <p></p>
                                        <p>Sales Tax ({{current_invoice.table.sales_tax}}): {{current_invoice.table.sales_tax_total}}</p>
                                        <p></p>
                                        <p>Total: {{current_invoice.currency}}{{current_invoice.table.table_total}}</p>
                                    </div>
                                </div>
                                <div>
                                    <p>Notes:</p>
                                    <p>{{ current_invoice.notes }}</p>
                                    <P>Terms and Conditions:</p>
                                    <p>{{ current_invoice.terms_conditions }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </body>
</html>
